<br>
<div class="container">
  <hr>
  <br>

  <h2>
    Cluster
    <%= image_tag("cool_colored_star", size: "80") %>
  </h2>
  <p class="phrase">
    team project management simplified
  </p>

  <p class="auth">
    by JAKE WILLSON (CIS 598)
  </p>

  <div class="post-info">
    <strong class="font-weight 900">
      DECEMBER 12, 2019 | DUE 2183 | 3:00 PM - 4:00 PM
    </strong>
  </div>

  <p class="phrase">
    Cluster is a Ruby on Rails web application designed for software development teams.<br>
    Team members can collaborate with status updates, task assignments, and more.<br>
    <br>
    Presentation will last roughly 30 minutes and questions will follow.
  </p>

  <br>
  <hr>
</div>

<style>
  .container {
    border-style: solid;
    border-width: 8px;
    background-color: darkcyan;
  }
  h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px;
    text-align: left;
    text-transform: uppercase; }
  h2 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; font-weight: 700; line-height: 48px; margin: 0 0 24px; padding: 0 30px;
    text-align: left; text-transform: uppercase; }
  p { color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; margin: 0 0 48px; }
  p.phrase {
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; /*margin: 0 0 48px;*/
    margin: 0 0 10px; padding: 0 30px;
  }
  p.auth {
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; font-weight: 600; /*margin: 0 0 48px;*/
    margin: 0 0 24px; padding: 0 150px;
  }
  a { color: #990000; text-decoration: none; }
  a:hover { text-decoration: underline }
  .date span,
  .author span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }
  .post-info { border-top: 1px dashed #70673b; border-bottom: 1px dashed #70673b; font-size: 20px; margin: 15px 0 15px; padding: 8px; text-transform: uppercase; color: #bfb585; }
</style>